#team-grid {
  margin-left: 30px!important;
  margin-right: 30px!important;
}

.team-tile {
  background: #fff!important;
  border-left: 2px solid #002e53;
  text-align: left;
  
  span {
    color: #000!important;
  }

  .team-tile-subtitle {
    display: flex;
    align-items: center;
  }

  .team-tile-subtitle, .team-tile-subtitle span {
    color: #a3a3a3!important;
  }

  .team-tile-subtitle span {
    margin-left: 5px;
    margin-top: 5px;
  }
}

.team-tile:hover {
  background: #002e53!important;

  span {
    color: #fff!important;
  }

  .team-tile-subtitle, .team-tile-subtitle span {
    color: #fff!important;
  }
}